.navbar {
  position: fixed;
  width: 300px; /* Navbar width */
  height: 100vh; /* screen height */
  background: linear-gradient(180deg, #5fa8d3, #1b4965);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  left: 0;
  top: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.top-item {
  display: flex;
  flex-direction: column;
}

.bottom-item {
  width: 100%;
  margin-top: auto;
}

.logo {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 300px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.logo h2 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

.logo span {
  color: #b8e0d2;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  width: 100%;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

/* Auth Section */
.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  /* margin-top: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.btn {
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-full {
  background-color: #b8e0d2;
  color: #1b4965;
  font-weight: bold;
  width: 100%;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #b8e0d2;
  color: #b8e0d2;
}

.btn-full:hover,
.btn-secondary:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 80px;
    align-items: center;
  }

  .logo h2 {
    display: none;
  }

  .nav-links a {
    justify-content: center;
    font-size: 14px;
  }

  .btn {
    font-size: 13px;
    padding: 10px;
  }
}

/** Language Section */

.language-selector {
  margin-top: 20px;
  text-align: center;
}

.language-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #b8e0d2;
  background: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}