
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
